---
layout: site.njk
---

{% set js %}
{% include "src/scripts/" + page.fileSlug + ".js" %}
{% endset %}

<div class="script-page">

<h1>{{ title }}</h1>

<h2>Installation</h2>

<div>
  <a href="{{ js | jsmin }}" class="jsbutton">{{ actionName | default(title) }}</a>
  ←Please drag &amp; drop this button to bookmark bar
</div>
<div class="jsinput-section">
  <div>
    or copy &amp; paste code below
  </div>
  <div>
    <input type="text" readonly value="{{js | jsmin}}" onfocus="this.select()" onclick="this.select()" class="jsinput">
  </div>
</div>

<h2>Description</h2>

{{ content | safe }}

<h2>Source code</h2>

<a
  href="https://github.com/ebiyuu1121/bookmarklet/blob/main/src/scripts/{{ page.fileSlug }}.js"
  target="_blank" rel="noreferrer"
>
  <i class="fa-brands fa-github"></i>
  {{ page.fileSlug }}.js
</a>


{% highlight "js" %}
{{ js | safe }}
{% endhighlight %}

<h2>Minified source code</h2>

{% highlight "js" %}
{{ js | jsmin | safe }}
{% endhighlight %}

<a
  href="https://github.com/ebiyuu1121/bookmarklet/blob/main/src/scripts/{{ page.fileSlug }}.md"
  target="_blank" rel="noreferrer"
>
  <i class="fa-brands fa-github"></i>
  Edit this page
</a>

</div>
